[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
python-dotenv = "*"
avro = "*"
flask = "*"
flask-testing = "*"
connexion = "<3.0"
confluent-kafka = "*"
orjson = "*"
pytest = "*"

[dev-packages]

[requires]
python_version = "3.13"
